{% extends 'base.html.twig' %}

{% block body %}
    <div id = "datalist" class = "datalist">
        <div class = "container">
            <div class = "row">
                <div class = "col-md-6"><h4>List of {{ plural_name }}</h4></div>
                <div class = "col-md-4"><input class = "search form-control" placeholder = "Search"></div>
                <div class = "col-md-2">
                    <a class = "btn btn-success btn-block"  data-toggle = "modal" data-target = "#newModal"><i class = "fa fa-plus"></i>Add</a>
                </div>
            </div>
        </div>

        <div class = "container list">
            {% for item in items %}
                <div class = "row">
                    <div class = "col-md-2 border-right">
                        <div class = "btn-group">
                            <a href="/{{singular_name}}/{{item.id}}" class = "btn btn-sm btn-primary"><i class="fa fa-list"></i></a>
                            <a href="/{{singular_name}}/{{item.id}}/edit" class = "btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                        </div>
                    </div>
                    <div class = "col-md-10">
                        <span class="name">{{ item.name }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class = "container">
            <div class = "row text-center">
                    <ul class="pagination"></ul>
            </div>
        </div>
    </div>

    <div class = "modal" id = "newModal" tabindex="-1" role = "dialog">
        <div class = "modal-dialog" role = "document">
            <div class = "modal-content">
                <div class = "modal-header">
                    <h5 class = "modal-title">Add {{ singular_name }}</h5>
                </div>
                <div class = "modal-body">
                    {{form_start(form)}}
                    {{form_widget(form)}}
                    <button class = "btn btn-block btn-success" type="submit"><i class = "fa fa-plus"></i>Add</button>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
