{% extends 'base.html.twig' %}
{% form_theme assign_form 'jquery.collection.html.twig' %}

{% block body %}

    <div class = "container">
        {% if e_message is defined %}
            <div class = "row">
                <div class = "alert alert-danger alert-dismissible" role = "alert">{{e_message}}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            </div>
        {% endif %}
        <div class = "row title">
            <div class = "col-md-6"><h3>Profile</h3></div>
            <div class = "col-md-6">
                <div class = "btn-group pull-right">
                    <a class = "btn btn-primary" href="{{ path('user_edit', {id:user.id}) }}">Edit User</a>
                    <a class = "btn btn-primary" data-toggle = "modal" data-target = "#assignModal">Assign Asset</a>
                    <a class = "btn btn-primary" href="{{ path('user_status', {id:user.id}) }}">
                        {% if user.enabled %}
                            Set to Resigned
                        {% else %}
                            Set to Active
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-3"><label>Employee Number</label></div>
            <div class = "col-md-3">{{ user.employeenumber }}
                                    {% if user.enabled %}
                                        <span class = "label label-success">active</span>
                                    {% else %}
                                        <span class = "label label-danger">inactive</span>
                                    {% endif %}
                                </div>
            <div class = "col-md-3"><label>Department</label></div>
            <div class = "col-md-3">{{ user.department ? user.department.name : "Not Assigned" }}</div>
        </div>
        <div class = "row">
            <div class = "col-md-3"><label>First Name</label></div>
            <div class = "col-md-3">{{ user.firstname }}</div>
            <div class = "col-md-3"><label>Last Name</label></div>
            <div class = "col-md-3">{{ user.lastname }}</div>
        </div>
        <div class = "row">
            <div class = "col-md-3"><label>E-Mail</label></div>
            <div class = "col-md-3">{{ user.email }}</div>
            <div class = "col-md-3"><label>Asset Count</label></div>
            <div class = "col-md-3">{{ user.assets.count }}</div>
        </div>
    </div>


    <div class = "container">
        <div class = "row title">
            <div class = "col-md-6"><h3>Assets</h3></div>
        </div>
        <div class = "row title">
            <div class = "col-md-5">Name</div>
            <div class = "col-md-4">Location</div>
            <div class = "col-md-3">Status</div>
        </div>
        {% if user.assets is not empty %}
                {% for asset in user.assets %}
                        <div class = "row">
                            <div class = "col-md-5 name"><a href = "{{path('asset_show',{'id':asset.id})}}">{{ asset.code }}</a></div>
                            <div class = "col-md-4 employee">{{ asset.location.name }}</div>
                            <div class = "col-md-3 status">{{ asset.status.name }}</div>
                        </div>
                {% endfor %}
            {% else %}
                <div class = "row">
                    <div class = "col-md-12">
                        <h2 class = "text-muted text-center"><i class = "fa fa-frown-o"></i>Nothing to see here</h2>
                    </div>
                </div>
            {% endif %}
    </div>

     <div class = "modal" id = "assignModal" tabindex="-1" role = "dialog">
        <div class = "modal-dialog" role = "document">
            <div class = "modal-content">
                <div class = "modal-header">
                    <h5 class = "modal-title">Assign Assets</h5>
                </div>
                <div class = "modal-body">
                    {{form_start(assign_form)}}
                    {{form_widget(assign_form)}}
                    <input class = "btn btn-block btn-success" type="submit" value="Assign" />
                    {{form_end(assign_form)}}
                </div>
            </div>
        </div>
    </div> 
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script type="text/javascript">
/*        $('.asset_collection').collection({ allow_duplicate: false,
                                            allow_up: false,
                                            allow_down: false,
                                            max: 999,
                                            position_field_selector: '.my-position',
                                            add_at_the_end: true,
                                            up: '<a href="#" class="btn btn-primary with-margin"><i class="fas fa-chevron-up"></i></a>',
                                            down: '<a href="#" class="btn btn-primary with-margin"><i class="fas fa-chevron-down"></i></a>',
                                            add: '<a href="#" class="btn btn-primary with-margin"><i class="fas fa-plus"></i></a>',
                                            remove: '<a href="#" class="btn btn-danger with-margin"><i class="fas fa-trash-alt"></i></a>',
                                            duplicate: '<a href="#" class="btn btn-primary with-margin"><i class="fas fa-copy"></i></a>'
        });*/
    </script>
{% endblock %}