{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{asset("css/select2.css")}}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class = "container border mb-1">
        {% if e_message is defined %}
            <div class = "row">
                <div class = "alert alert-danger alert-dismissible" role = "alert">{{e_message}}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            </div>
        {% endif %}
        <div class = "row pt-1 pb-1">
            <div class = "col-auto mr-auto"><h3>Profile</h3></div>
            <div class = "col-auto">
                <div class = "btn-group pull-right">
                    <a class = "btn btn-primary" href="{{ path('user_edit', {id:user.id}) }}">Edit User</a>
                    <a class = "btn btn-primary" data-toggle = "modal" data-target = "#assignModal">Assign Asset</a>
                    <a class = "btn btn-primary" href="{{ path('user_status', {id:user.id}) }}">
                        {% if user.enabled %}
                            Set to Resigned
                        {% else %}
                            Set to Active
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col-3"><label>Employee Number</label></div>
            <div class = "col-3">{{ user.employeenumber }}
                                    {% if user.enabled %}
                                        <span class = "badge badge-success">active</span>
                                    {% else %}
                                        <span class = "badge badge-danger">inactive</span>
                                    {% endif %}
                                </div>
            <div class = "col-3"><label>Department</label></div>
            <div class = "col-3">{{ user.department ? user.department.name : "Not Assigned" }}</div>
        </div>
        <div class = "row">
            <div class = "col-3"><label>First Name</label></div>
            <div class = "col-3">{{ user.firstname }}</div>
            <div class = "col-3"><label>Last Name</label></div>
            <div class = "col-3">{{ user.lastname }}</div>
        </div>
        <div class = "row">
            <div class = "col-3"><label>E-Mail</label></div>
            <div class = "col-3">{{ user.email }}</div>
            <div class = "col-3"><label>Asset Count</label></div>
            <div class = "col-3">{{ user.assets.count }}</div>
        </div>
    </div>


    <div class = "container border mb-1">
        <div class = "row">
            <div class = "col-6"><h3>Assets</h3></div>
        </div>
        <div class = "row">
            <div class = "col-5">Name</div>
            <div class = "col-4">Location</div>
            <div class = "col-3">Status</div>   
        </div>
        {% if user.assets is not empty %}
                {% for asset in user.assets %}
                        <div class = "row">
                            <div class = "col-5 name"><a href = "{{path('asset_show',{'id':asset.id})}}">{{ asset.code }}</a></div>
                            <div class = "col-4 employee">{{ asset.location.name }}</div>
                            <div class = "col-3 status">{{ asset.status.name }}</div>
                        </div>
                {% endfor %}
            {% else %}
                <div class = "row">
                    <div class = "col-12">
                        <h2 class = "text-muted text-center"><i class = "fa fa-frown-o"></i>Nothing to see here</h2>
                    </div>
                </div>
            {% endif %}
    </div>

    <div class = "container border mb-1">
        <div class = "row">
            <h5 class = "modal-title">Assign Assets</h5>
        </div>
        <div class = "row">
            {{form_start(assign_form)}}
            {{form_widget(assign_form)}}
            <input class = "btn btn-block btn-success" type="submit" value="Assign" />
            {{form_end(assign_form)}}
        </div>
    </div>  
{% endblock %}

{% block javascripts %}
    <script src="{{asset("js/select2.js")}}"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
{% endblock %}