{% extends 'base.html.twig' %}
{% form_theme form 'jquery.collection.html.twig' %}

{% block body %}
    <div class = "container border mb-4">
        <div class='row mt-1 mb-1'>
            <div class="col-auto"><h3>List of Maintenance</h3></div>
            <div class="ml-auto col-2">
                <a href="{{path('maintenance_new')}}" class="btn btn-success btn-block">
                    <i class="fa fa-plus"></i>&nbsp;Add Maintenance
                </a>        
            </div>
        </div>
        <div class='row'><div class='col-12'>
            <table class='table table-sm'>
                <thead class='thead-dark'>
                    <th>Maintenance</th>
                    <th>Vendor</th>
                    <th>Schedule Date</th>
                    <th>Status</th>
                    <th></th>
                </thead>
                <tbody>
                    {% if maintenances is not empty %}
                        {% for maintenance in maintenances %}
                        <tr>
                            <td>
                                <a href = "{{ path('maintenance_show', {id:maintenance.id}) }}">{{maintenance.title}}</a>
                            </td>
                            <td >{{maintenance.vendor.name}}</td>
                            <td >{{maintenance.schedule | date('F d, Y')}}</td>
                            <td class = "text-center">
                                {% if date(maintenance.actual) > date(maintenance.schedule) %}
                                    <span class = "badge badge-danger">Overdue</span>
                                {% else %}
                                    <span class = "badge badge-success">Not overdue</span>
                                {% endif %}
                            </td>
                            <td >
                                {% if maintenance.actual is not null %}
                                    <a class = "btn btn-block btn-default" disabled = "disabled">DONE</a>
                                {% else %}
                                    <a class = "btn btn-success btn-block" href="{{ path('maintenance_done', { 'id': maintenance.id }) }}">Set as DONE</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td><h2 class = "text-muted text-center"><i class = "fa fa-frown-o"></i>Nothing to see here</h2></td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div></div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $('.asset_collection').collection({ allow_duplicate: false,
                                            allow_up: false,
                                            allow_down: false,
                                            up: '<a href="#" class="btn btn-primary with-margin"><i class="fas fa-chevron-up"></i></a>',
                                            down: '<a href="#" class="btn btn-primary with-margin"><i class="fas fa-chevron-down"></i></a>',
                                            add: '<a href="#" class="btn btn-primary with-margin"><i class="fas fa-plus"></i></a>',
                                            remove: '<a href="#" class="btn btn-danger with-margin"><i class="fas fa-trash-alt"></i></a>',
                                            duplicate: '<a href="#" class="btn btn-primary with-margin"><i class="fas fa-copy"></i></a>'
        });
    </script>
{% endblock %}
