{% extends 'base.html.twig' %}

{% block body %}
    <h1>Maintenance</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ maintenance.id }}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ maintenance.reason }}</td>
            </tr>
            <tr>
                <th>Schedule</th>
                <td>{% if maintenance.schedule %}{{ maintenance.schedule|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Isdone</th>
                <td>{% if maintenance.isdone %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('maintenance_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('maintenance_edit', { 'id': maintenance.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
