{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}" />
{% endblock %}


{% block body %}
    <div class = "container border mb-4">
        <div class='row mt-1 mb-1'>
            <div class="col-auto"><h3>Assets</h3></div>
            <div class="ml-auto col-2">
                <a href="{{path('asset_new')}}" class="btn btn-success btn-block">
                    <i class="fa fa-plus"></i>&nbsp;Add Asset
                </a>        
            </div>
        </div>
        <div class='row'><div class='col-12'>
            <table class='table table-sm'>
                <thead class='thead-dark'>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Users</th>
                </thead>
                <tbody>
                    {% if assets is not empty %}
                        {% for asset in assets %}
                        <tr>
                            <td>
                                <a href = "{{path('asset_show',{'id':asset.id})}}">{{ asset.code }}</a>
                            </td>
                            <td>{{ asset.description }}</td>
                            <td>{{ asset.status.name }}</td>
                            <td>{{ asset.users.count }} users</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td><h2 class = "text-muted text-center"><i class = "fa fa-frown-o"></i>Nothing to see here</h2></td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div></div>
    </div>
{% endblock %}

{% block javascripts %}
        <script src="{{ asset('js/datatables.min.js') }}"></script>
        <script type="text/javascript">
            $(function(){
                $('.table').DataTable();
            });
        </script>
{% endblock %}