{% extends 'base.html.twig' %}

{% block body %}

    <div class = "container information" style = "">
        <div class = "row">
            <div class = "col-sm-6 text-center"><h4>{{asset.name}}</h4><i></i></div>
            <div class = "col-md-6 text-center">
                <div class = "btn-group">
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class = "btn btn-primary" href="{{ path('asset_edit', { 'id': asset.id }) }}">Edit Asset</a>
                    <a class = "btn btn-primary"  data-toggle = "modal" data-target = "#assignModal">Assign Asset</a>
                    {% endif %}
                    <a class = "btn btn-primary"  data-toggle = "modal" data-target = "#statusModal">Update Status</a>
                    <a class = "btn btn-primary"  data-toggle = "modal" data-target = "#logModal">Asset History</a>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col-sm-12 text-center"><h4>General Information</h4></div>
        </div>
        <div class = "row">
            <div class = "col-sm-3"><label>Custodian</label></div>
            <div class = "col-sm-3">{{asset.user.fullname}}</div>
            <div class = "col-sm-3"><label>Location</label></div>
            <div class = "col-sm-3">{{asset.location.name}}</div>
        </div>
        <div class = "row">
            <div class = "col-sm-3"><label>Category</label></div>
            <div class = "col-sm-3">{{asset.category.name}}</div>
            <div class = "col-sm-3"><label>Model</label></div>
            <div class = "col-sm-3">{{asset.model.name}} ({{asset.model.brand.name}})</div>
        </div>
        <div class = "row">
            <div class = "col-sm-3"><label>Status</label></div>
            <div class = "col-sm-3">{{asset.status.name}}</div>
        </div>
        <div class = "row">
            <div class = "col-sm-12 text-center"><h4>Purchase Information</h4></div>
        </div>
        <div class = "row">
            <div class = "col-sm-3"><label>Vendor</label></div>
            <div class = "col-sm-3">{{asset.vendor.name}}</div>
            <div class = "col-sm-3"><label>Price</label></div>
            <div class = "col-sm-3">PHP {{asset.price | number_format(2,'.',',')}}</div>
        </div>
        <div class = "row">
            <div class = "col-sm-3"><label>P.O. Number</label></div>
            <div class = "col-sm-3">{{asset.ponumber}}</div>
            <div class = "col-sm-3"><label>Manufacturer Serial Number</label></div>
            <div class = "col-sm-3">{{asset.manufacturerserial}}</div>
        </div>
        <div class = "row">
            <div class = "col-sm-3"><label>Purchase Date</label></div>
            <div class = "col-sm-3">{{asset.purchasedate|date('F d, Y')}}</div>
            <div class = "col-sm-3"><label>Service Date</label></div>
            <div class = "col-sm-3">{{asset.servicedate|date('F d, Y')}}</div>
        </div>
        <div class = "row">
            <div class = "col-sm-3"><label>Warranty Start</label></div>
            <div class = "col-sm-3">{{asset.warrantystart|date('F d, Y')}}</div>
            <div class = "col-sm-3"><label>Warranty End</label></div>
            <div class = "col-sm-3">{{asset.warrantyend|date('F d, Y')}}</div>
        </div>        
    </div>

    <div class = "modal" id = "assignModal" tabindex="-1" role = "dialog">
        <div class = "modal-dialog" role = "document">
            <div class = "modal-content">
                <div class = "modal-header">
                    <h5 class = "modal-title">Assign to new Custodian</h5>
                </div>
                <div class = "modal-body">
                    {{form_start(assign_form)}}
                    {{form_widget(assign_form)}}
                    <input class = "btn btn-block btn-success" type="submit" value="Assign" />
                    {{form_end(assign_form)}}
                </div>
            </div>
        </div>
    </div>

    <div class = "modal" id = "statusModal" tabindex="-1" role = "dialog">
        <div class = "modal-dialog" role = "document">
            <div class = "modal-content">
                <div class = "modal-header">
                    <h5 class = "modal-title">Assign to new Custodian</h5>
                </div>
                <div class = "modal-body">
                    {{form_start(status_form)}}
                    {{form_widget(status_form)}}
                    <input class = "btn btn-block btn-success" type="submit" value="Assign" />
                    {{form_end(status_form)}}
                </div>
            </div>
        </div>
    </div>    

    <div class = "modal right fade" id = "logModal" tabindex="-1" role = "dialog">
        <div class = "modal-dialog" role = "document">
            <div class = "modal-content">
                <div class = "modal-header">
                    <h5 class = "modal-title">Asset Logs</h5>
                </div>
                <div class = "modal-body">
                    {% for log in asset.logs %}
                        <div class = "panel panel-default">
                            <div class = "panel-heading">
                                <div class = "panel-title">
                                    {{log.datetime| date('M d, Y h:i a')}}
                                </div>
                            </div>
                            <div class = "panel-body">
                                {{log.description}}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div> 
{% endblock %}
